*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    height: 70vh;
    width: 60%;
    margin: 5rem auto;
}

.first-div{
    background-color: #1F2937;
    padding: 4rem 2rem;
    height: 55vh;
    width: 40%;
    border-radius: 8px;

}


p{
    color: white;
    line-height: 100%;
    font-size: 24px;
    font-weight: 900;
}

.subtext{
    font-size: 14px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 45px;
    color: #D5D4D8;
}

span{
    display: flex;
    color: #4ADF86;
}

.btn{
    background-color: #4ADF86;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 11px;
    border-radius: 6px;
    border: none;
    margin-bottom: 2rem;
}

.line{
    
    border-top: 2px solid #273549;
    margin-bottom: 2rem;
  
}


.contain{
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 100%;
   
   
    
}

.f-blank{
 
    background-color: #273549;
    color: #4ADF86;
    border: #1C1C1C;
    border-radius: 6px;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
    min-width: 8rem;
    height: 1.5rem;
    
    
    
}



/* Mobile Responsiveness
480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more. */

 
@media screen and (min-width: 320px) and (max-width: 480px) {

    
    html, body{
        height: 100%;
        width: 100%;
        background-color: #1C1C1C;
        overflow: hidden;
      
    }
   

    .first-div{
        padding-top: 7rem;
        height: 70vh;
        min-width: 100%;
        border-radius: 8px;
       
    }

    p{
        font-size: 20px;
        line-height: 120%;
    }

    .subtext{
        font-size: 12px;
    }


   .btn{
        font-size: 8px;
   }

   .contain{
        max-width: 5rem;
   }

   .f-blank{
        min-width: 5rem;
        font-size: 10px;
   }
}

/*@media screen and (min-width: 768px){ 
    html, body{
        
    
        overflow: hidden;
      
    }

    .container{
        height: 70vh;
        background-color: #1C1C1C;
    }
}  */
